In [1]:
from time import time
from sklearn.feature_extraction.text import TfidfVectorizer

data = '''Time flies like an arrow
Fruit flies like a banana,
Sam sat on the cat 
The cat is white.'''

t0 = time()
dataset = data.split('\n')
print(dataset)

['Time flies like an arrow', 'Fruit flies like a banana,', 'Sam sat on the cat ', 'The cat is white.']

In [2]:
#Get TF-IDFs.
print("Extracting tf-idf features...")
#First we initiate an empty tfidf object with specific conditions
tfidf_vectorizer = TfidfVectorizer(ngram_range=(1,3))#max_df=0.95, min_df=2, stop_words='english' #USE HELP TO SEE WHAT EACH DOES)
t0 = time()
#Next we give the data for processing
tfidf = tfidf_vectorizer.fit_transform(dataset)
print("done in %0.3fs." % (time() - t0))
# print(tfidf)

Extracting tf-idf features...
done in 0.004s.

In [6]:
print(tfidf)

  (0, 32)	0.303381833239
  (0, 7)	0.239189722008
  (0, 16)	0.239189722008
  (0, 0)	0.303381833239
  (0, 2)	0.303381833239
  (0, 33)	0.303381833239
  (0, 8)	0.239189722008
  (0, 17)	0.303381833239
  (0, 1)	0.303381833239
  (0, 34)	0.303381833239
  (0, 9)	0.303381833239
  (0, 18)	0.303381833239
  (1, 7)	0.281131628441
  (1, 16)	0.281131628441
  (1, 8)	0.281131628441
  (1, 11)	0.356579823338
  (1, 3)	0.356579823338
  (1, 12)	0.356579823338
  (1, 19)	0.356579823338
  (1, 13)	0.356579823338
  (1, 10)	0.356579823338
  (2, 23)	0.303381833239
  (2, 26)	0.303381833239
  (2, 20)	0.303381833239
  (2, 29)	0.239189722008
  (2, 4)	0.239189722008
  (2, 24)	0.303381833239
  (2, 27)	0.303381833239
  (2, 21)	0.303381833239
  (2, 30)	0.239189722008
  (2, 25)	0.303381833239
  (2, 28)	0.303381833239
  (2, 22)	0.303381833239
  (3, 29)	0.281131628441
  (3, 4)	0.281131628441
  (3, 30)	0.281131628441
  (3, 14)	0.356579823338
  (3, 35)	0.356579823338
  (3, 5)	0.356579823338
  (3, 15)	0.356579823338
  (3, 31)	0.356579823338
  (3, 6)	0.356579823338

In [15]:
dense = tfidf.todense()
dense.shape
print(dense)

[[ 0.30338183  0.30338183  0.30338183  0.          0.          0.          0.
   0.23918972  0.23918972  0.30338183  0.          0.          0.          0.
   0.          0.          0.23918972  0.30338183  0.30338183  0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.30338183  0.30338183
   0.30338183  0.        ]
 [ 0.          0.          0.          0.35657982  0.          0.          0.
   0.28113163  0.28113163  0.          0.35657982  0.35657982  0.35657982
   0.35657982  0.          0.          0.28113163  0.          0.
   0.35657982  0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.23918972  0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.30338183  0.30338183  0.30338183  0.30338183  0.30338183  0.30338183
   0.30338183  0.30338183  0.30338183  0.23918972  0.23918972  0.          0.
   0.          0.          0.        ]
 [ 0.          0.          0.          0.          0.28113163  0.35657982
   0.35657982  0.          0.          0.          0.          0.          0.
   0.          0.35657982  0.35657982  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.28113163  0.28113163  0.35657982  0.          0.
   0.          0.35657982]]

In [16]:
feature_names = tfidf_vectorizer.get_feature_names()
print((feature_names))
print(dataset)
print(feature_names[13:20])

['an', 'an arrow', 'arrow', 'banana', 'cat', 'cat is', 'cat is white', 'flies', 'flies like', 'flies like an', 'flies like banana', 'fruit', 'fruit flies', 'fruit flies like', 'is', 'is white', 'like', 'like an', 'like an arrow', 'like banana', 'on', 'on the', 'on the cat', 'sam', 'sam sat', 'sam sat on', 'sat', 'sat on', 'sat on the', 'the', 'the cat', 'the cat is', 'time', 'time flies', 'time flies like', 'white']
['Time flies like an arrow', 'Fruit flies like a banana,', 'Sam sat on the cat', 'The cat is white.']
['fruit flies like', 'is', 'is white', 'like', 'like an', 'like an arrow', 'like banana']

### Doc ranking

Given a new query, how to find out which document is it closest to?

In [22]:
new = 'Time flies like Sam'
response = tfidf_vectorizer.transform([new])

##### We could also use KNN for finding the closest document. 
(In this case it seems a stretch to call KNN on four data points, but the idea is to introduce the syntax for how to run a machine learning algorithm in python)

In [25]:
#This is how an ML algorithm is instantiated.
from sklearn.neighbors import KNeighborsClassifier  
model = KNeighborsClassifier(n_neighbors=1, algorithm='brute')
#This is how any ML algorithm is trained.
model.fit(dense, [1,2,3,4])
#This is how such an ML algorithm is used for prediction
model.predict(response)

array([1])

In [7]:
dense

matrix([[ 0.30338183,  0.30338183,  0.30338183,  0.        ,  0.        ,
          0.        ,  0.        ,  0.23918972,  0.23918972,  0.30338183,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.23918972,  0.30338183,  0.30338183,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.30338183,  0.30338183,  0.30338183,
          0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.35657982,  0.        ,
          0.        ,  0.        ,  0.28113163,  0.28113163,  0.        ,
          0.35657982,  0.35657982,  0.35657982,  0.35657982,  0.        ,
          0.        ,  0.28113163,  0.        ,  0.        ,  0.35657982,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.23918972,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.30338183,  0.30338183,  0.30338183,  0.30338183,  0.30338183,
          0.30338183,  0.30338183,  0.30338183,  0.30338183,  0.23918972,
          0.23918972,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ],
        [ 0.        ,  0.        ,  0.        ,  0.        ,  0.28113163,
          0.35657982,  0.35657982,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.35657982,
          0.35657982,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
          0.        ,  0.        ,  0.        ,  0.        ,  0.28113163,
          0.28113163,  0.35657982,  0.        ,  0.        ,  0.        ,
          0.35657982]])